<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Qerza - Job Portal Admin Dashboard | Bootstrap HTML Template</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="DexignZone" />
    <meta name="robots" content="" />
    <meta name="keywords"
          content="job portal, admin dashboard, Bootstrap HTML template, job listings, applicants, user-friendly interface, powerful functionalities" />
    <meta name="description"
          content="Qerza is a versatile job portal admin dashboard powered by Bootstrap HTML. Streamline job listings, applicants, and enhance your recruitment process. User-friendly interface with powerful functionalities. Job portal, admin dashboard, Bootstrap HTML template." />
    <meta property="og:title"
          content="Qerza - Job Portal Admin Dashboard | Bootstrap HTML Template" />
    <meta property="og:description"
          content="Qerza is a versatile job portal admin dashboard powered by Bootstrap HTML. Streamline job listings, applicants, and enhance your recruitment process. User-friendly interface with powerful functionalities. Job portal, admin dashboard, Bootstrap HTML template." />
    <meta property="og:image"
          content="https://qerza.dexignzone.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="~/lib_layout/images/favicon.png" />
    <link href="~/lib_layout/vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
          rel="stylesheet" />
    <link href="~/lib_layout/vendor/lightgallery/css/lightgallery.min.css"
          rel="stylesheet" />
    <link href="~/lib_layout/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet" />
    <style>

        .form-label {
            font-weight: bold;
            font-weight: 500;
            color: black;
            font-size: 14px;
        }

        .nav-tabs .nav-link.active {
            font-weight: bold;
            font-weight: 500;
            font-size: 14px;
        }

        .custom-img {
            width: 100%;
            max-width: 250px;
            height: auto;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }

            .form-group .form-label {
                flex: 1 0 30%;
                max-width: 30%;
            }

            .form-group .form-control,
            .form-group .form-select,
            .form-group .form-check-input {
                flex: 1 0 70%;
                max-width: 70%;
            }

            .form-group .form-check-label {
                flex: 1 0 70%;
                max-width: 70%;
            }

    </style>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    
    <!-- Main wrapper -->
    <div id="main-wrapper">
        <!-- Nav_header -->
        @Html.Partial("Partials/_Nav")
       
        <!-- Header -->
        @Html.Partial("Partials/_Header")
        
        <!-- Sidebar -->
        @Html.Partial("Partials/_Sidebar")
       
        <!-- Content body -->
        <div class="content-body">
            @RenderBody()
        </div>
        <!-- Footer -->
        @Html.Partial("Partials/_Footer")
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/lib_layout/vendor/global/global.min.js"></script>
    <script src="~/lib_layout/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib_layout/vendor/lightgallery/js/lightgallery-all.min.js"></script>
    <script src="~/lib_layout/js/custom.min.js"></script>
    <script src="~/lib_layout/js/deznav-init.js"></script>

    <script>
        $("#lightgallery").lightGallery({
            thumbnail: true,
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
